body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color:#f0eeef;
    display: flex;
    color: #958386; 
    font-family: 'Amatic SC', sans-serif; 
}
#wrp{
    background-image: url("../img/wrp.png");
}
#ana{
    background-image: url("../img/ana.png");
}
#log{
    background-image: url("../img/log.png");
}
#emp{
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    outline: none;
}
.page{
    width: 150px;
    height: 100%;
    background-position: center;
    opacity: 0.4;
    outline: 2px solid #cfc7c9;
    transition: width 2s, opacity 2s;
}
.page:hover{
    opacity: 0.9;
}